*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'inter', sans-serif;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    display: flex;
    gap: 20px;
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    color: #575757;
    font-weight: bold;
}

header{
    padding: 20px;
}

.container{
    max-width: 1300px;
    margin: 0 auto;
    padding: 10px;
}

.common-btn{
    padding: 10px 30px;
    border: none;
    background-color: #1D4ED8;
    color: #FFFFFF;
    cursor: pointer;
    border-radius: 7px;
}

.hero img{
    width: 100%;
    height: 600px;
    object-fit: cover;
}

.hero{
    position: relative;
   
}

.hero-sub{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #FFFFFF;
}

.hero-sub h1{
    font-size:60px;
    font-weight:800;
    margin-bottom:20px;
}

.hero-sub p{
    max-width:700px;
    line-height:1.6;
    margin-bottom:40px;
}

.hero button{
   margin-top: 230px;
}