*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'inter', sans-serif;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    display: flex;
    gap: 20px;
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    color: #575757;
    font-weight: bold;
}

header{
    padding: 20px;
}

.container{
    max-width: 1300px;
    margin: 0 auto;
    padding: 10px;
}

.common-btn{
    padding: 10px 30px;
    border: none;
    background-color: #1D4ED8;
    color: #FFFFFF;
    cursor: pointer;
    border-radius: 7px;
}

.hero img{
    width: 100%;
    height: 600px;
    object-fit: cover;
}

.hero{
    position: relative;
   
}

.hero-sub{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #FFFFFF;
}

.hero-sub h1{
    font-size:60px;
    font-weight:800;
    margin-bottom:20px;
}

.hero-sub p{
    max-width:700px;
    line-height:1.6;
    margin-bottom:40px;
}

.hero button{
   margin-top: 230px;
}



/* Speakers Section */
.speakers {
    padding: 20px 0;
}

.speakers h2{
    text-align: center;
    font-size: 36px;
    margin-bottom: 40px;
}

.speaker-grid {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
}

.speaker-card {

    background: #FFFFFF;
    border: 1px solid #E5E7EB;
    border-radius: 10px;
    overflow: hidden;
}

.speaker-card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    
}

.speakers-info{
    padding: 20px;
}

.speakers-info h5{
    font-size: 15px;
    margin-bottom: 10px;
    color: #2563EB;
}

.speakers-info h3{
    font-size: 16px;
    color: #0D1B2A;
    margin-bottom: 10px;
}

.speakers-info p{
    font-size: 14px;
    color: #575757;
}


/* pricing section */
.pricing{
    padding: 20px 0;
}

.container-pricing{
    max-width: 1160px;
    margin: 0 auto;
}

.pricing h3{
    text-align: center;
    font-size: 48px;
    margin-bottom: 20px;
    color: #0D1B2A;
}

.sub-section{
    color: #575757;
    text-align: center;

}

.price-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    margin-top: 40px;
}

.price-card{
    background: #FFFFFF;
    border: 1px solid #E5E7EB;
    border-radius: 10px;
    overflow: hidden;
    padding: 40px;
}

.price-head{
    color: #888888;
}

.price-card h1{
    margin-top: 10px;
}

hr{
    margin: 20px 0;
    border: 1px solid #E5E7EB;
}

#pricing ul li{
    gap: 10px;
    margin-bottom: 20px;
}

.price-card ul li::marker{
    color:blue;
}

.card-1-btn{
    color: #2563EB;
    border: 1px solid #2563EB;
    padding: 10px 100px;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    width: 304.66px;
    border-radius: 7px;
    background-color: #FFFFFF;
}

.card-2-btn{
    color: #FFFFFF;
    border: 1px solid #2563EB;
    padding: 10px 100px;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    width: 304.66px;
    border-radius: 7px;
    background-color: #2563EB;
}

.price-card-2{
    background: #0D1B2A;
    border: 1px solid #E5E7EB;
    border-radius: 10px;
    overflow: hidden;
    padding: 40px;
}

.price-card2-head{
    color: #60A5FA;

}

.price-card-2 h1{
  color: #FFFFFF;
  margin-top: 10px;
}

.price-card-2 ul li::marker{
    color: #60A5FA;
}

.price-card-2 ul li{
     gap: 10px;
    margin-bottom: 20px;
    color: #c9c2c2;
}

.price-head-2{
    color: #60A5FA;

}

.pricing hr{
    margin: 20px 0;
    border: 1px solid #555555;
}

.price-head-2{
  color: #888888;

}

.card-3-btn{
    color: #0D1B2A;
    border: 1px solid #0D1B2A;
    padding: 10px 100px;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    width: 304.66px;
    border-radius: 7px;
    background-color: #FFFFFF;
}


/* Benefit section */

.benefits{
    padding:80px 0;
    background:#fff;
}


.benefits h2{
    text-align:center;
    font-size:42px;
    font-weight:700;
    color:#111827;
}

.benefit-card ul li{
    font-size:10px;
}

.sub-title{
    text-align:center;
    color:#6b7280;
    font-size:17px;
    max-width:650px;
    margin:15px auto 50px;
    line-height:1.6;
}

.grid{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:30px;
}

.benefit-card{
    border:2px solid #3b82f6;
    border-radius:14px;
    padding:25px;
    background:#fff;
    transition:.3s;
}


.benefit-card img{
    height:300px;
    width: 300px;
    display:block;
    margin:0 auto 20px;
}

.benefit-card h3{
    font-size:20px;
    color:#111827;
    margin-bottom:18px;
}

.benefit-card ul{
    padding-left:20px;
}

.benefit-card ul li{
    margin-bottom:12px;
    color:#444;
    font-size:20px;
    line-height:1.6;
}



/* Footer */
footer{
    background: #0D1B2A;
    color: #FFFFFF;
    padding: 20px 0;
}

.footer{
    display: flex;
    justify-content: space-between;
}

.footer-info{
    display: flex;
    gap: 20px;
}

.footer-logo{
    display: flex;
    gap: 10px;
}

.footer-logo img{
    width: 20px;
    height: 20px;
}